.rooms-page {
  margin-top: var(--header-height);
  --light-blue: rgb(36, 85, 145);
  --light-grey: var(--light-grey-text);
}

.rooms-page__stay-form {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.rooms-page__stay-form > span {
  display: inline-block;
  height: 38px;
}

.rooms-page__date-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  position: relative;
  top: -3px;
  border-right: 1px solid lightgrey;
}

.rooms-page__date {
  font-size: 41px;
  font-weight: bold;
  grid-row: 1 / span 2;
}

.rooms-page__month {
  align-self: end;
  font-weight: bold;
}

.rooms-page__day {
  align-self: start;
}

.rooms-page__guests-num {
  padding: 7px;
  outline: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.rooms-page__guests-num > button {
  background-color: #fff;
  border-radius: 50px;
  padding: 3px 3px 0px;
  color: var(--light-blue);
  border: 1.5px solid;
  margin: 0 10px;
  font-size: var(--font-lg);
}

.rooms-page__guests-num > button.disabled {
  color: var(--light-grey);
  cursor: not-allowed;
  opacity: 0.6;
}

.rooms-page .react-datepicker-wrapper {
  display: none;
}

.react-datepicker-popper {
  transform: translate3d(14px, 42px, 0) !important;
}


