.stay-form {
  color: var(--dark-navy);
  padding: 16px 0;

  --light-blue: rgb(36, 85, 145);

  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 15px;
}

.stay-form__stay-data {
  text-align: center;
  padding-top: 16px;
  border-top: 1px solid var(--light-grey);
}

.margin-right {
  margin-right: 6px;
}

.bold {
  font-weight: bold;
}

.stay-form__flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
}

.stay-form > span {
  display: inline-block;
  height: 38px;
}

.stay-form__date-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  position: relative;
  top: -3px;
  border-right: 1px solid lightgrey;
  text-transform: uppercase;
}

.stay-form__date {
  font-size: 41px;
  font-weight: bold;
  grid-row: 1 / span 2;
}

.stay-form__month {
  align-self: end;
  font-weight: bold;
}

.stay-form__day {
  align-self: start;
}

.stay-form__guests-num {
  padding: 7px;
  outline: 1px solid;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.stay-form__guests-num > button {
  background-color: #fff;
  border-radius: 50px;
  padding: 3px 3px 0px;
  color: var(--light-blue);
  border: 1.5px solid;
  margin: 0 10px;
  font-size: var(--font-lg);
}

.stay-form__guests-num > button.disabled {
  color: var(--grey);
  cursor: not-allowed;
  opacity: 0.6;
}

.stay-form__guests-num > button:focus-visible {
  outline: none;
}

.stay-form__update-btn {
  height: 42px;
  padding: 10px 15px;
  display: inline-block;
  border: 1px solid var(--blue);
  color: #fff;
  background-color: var(--blue);
}

.stay-form__update-btn.disabled {
  color: #fff;
  background-color: var(--grey);
  border: 1px solid var(--grey);
  cursor: not-allowed;
  opacity: 0.4;
}

.stay-form .react-datepicker-wrapper {
  display: none;
}

.react-datepicker-popper {
  transform: translate3d(-80px, 42px, 0) !important;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before
 {
  left: 91px;
}


@media (max-width: 500px) {
  .react-datepicker-popper {
    transform: translate3d(-50px, 42px, 0) !important;
  }
}

@media (max-width: 400px) {
  .react-datepicker-popper {
    position: fixed !important;
    top: 160px !important;
    left: 50vw !important;
    transform: translateX(-50%) !important;
  }

  .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after,
  .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before {
    display: none;
  }
}