.signin-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
}

.signin {
  --signin-form-bg-color: #ffffff;
  --signin-form-text-color: #1e2124;
  --signin-input-field-bg-color: #f1f5ff;
  --signin-form-submit-btn-color: #fff;
  --signin-form-submit-btn-bg-color: #1e2124;
  --signin-error-message: red;

  width: 100%;
  max-width: 700px;
  height: min-content;
  /* TODO: Replace 60px with css variable for header height */
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  place-items: center;
}

.signin__hotel-logo {
  font-style: italic;
  text-align: center;
  font-size: var(--font-xl);
  margin-bottom: 16px;
}

.signin__signup-invite {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  color: #fff;
  background-color: black;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.signin__signup-invite::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  opacity: .8;
  background-image: url("/public/images/hotel-room.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 50%;
  z-index: 1;
}

.signin__signup-invite > * {
  z-index: 2;
}

.signin__signup-invite p {
  margin: 15px 0;
  letter-spacing: .2px;
  line-height: 23px;
}

.signin__signup-btn {
  color: #fff;
  text-decoration: none;
  font-size: var(--font-sm);
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 5px 20px;
  transition: 150ms ease-in-out;
}

.signin__signup-btn:hover {
  color: black;
  border: 2px solid #fff;
  background-color: #fff;
}

.signin__form {
  color: var(--signin-form-text-color);
  background-color: var(--signin-form-bg-color);
  width: 100%;
  max-width: 300px;
  padding: 50px 20px;
  border-radius: 5px;
}

.signin__form h1 {
  font-size: var(--font-xl);
  text-align: center;
}

.signin__form h2 {
  color: var(--light-grey-text);
  font-weight: normal;
  font-size: var(--font-xs);
  text-align: center;
  margin: 13px 0 21px;
}

.signin__form input[type="text"],
.signin__form input[type="password"],
.signin__form input[type="submit"] {
  position: relative;
  width: 100%;
  padding: 10px;
  background-color: var(--signin-input-field-bg-color);
  border: none;
  border-radius: 3px;
}

.signin__form input[type="password"] {
  margin-top: 13px;
}

.signin__form input[type="submit"] {
  background-color: var(--signin-form-submit-btn-bg-color);
  color: var(--signin-form-submit-btn-color);
  font-size: var(--font-sm);

  margin-top: 13px;
  border-radius: 30px;
}

.signin__form input:focus-visible {
  outline: none;
}

.signin__password-container {
  position: relative;
}

.signin__invalid-field {
  display: block;
  text-align: left;
  position: relative;
  top: 3px;
  font-size: var(--font-xs);
  color: var(--signin-error-message);
  opacity: 0;
  transition: 200ms ease-in-out;
}

.signin__invalid-field.show {
  opacity: 1;
  top: 0px;
}

.signin__err {
  position: relative;
  top: 2px;
}

.signin__forgot-password {
  display: inline-block;
  margin-top: 10px;
  font-size: var(--font-xxs);
  color: var(--light-grey-text);
  text-decoration: none;
}

.signin__icon {
  position: absolute;
  top: 18px;
  right: 5px;
  padding: 0;
  margin: 0;

  background-color: transparent;
  border: none;

  font-size: var(--font-xl);
  opacity: 0.6;
}

.signin__icon:hover {
  opacity: .8;
}

.signin__icon:focus-visible {
  outline: none;
}

.signin__form p {
  font-size: var(--font-xs);
  margin: 13px 0px 5px;
}

.signin__link:visited {
  color: initial;
}
