nav * {
  color: var(--dark-navy);
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  padding: 20px clamp(10px, 4vw, 50px);
  background-color: white;

  border-bottom: 1px solid var(--light-grey);
  box-shadow: 0 -5px 10px var(--dark-navy);
  z-index: 99;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 68px;
}

.nav__logo {
  display: block;
  width: clamp(120px, 20vw, 150px);
  border-radius: 5px;
}

.burger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger-menu > span {
  width: 30px;
  height: 3px;
  background-color: var(--blue);
}

.nav__links {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.nav__btn, .nav__name {
  margin: 5px 15px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}

@media (max-width: 650px) {
  .nav__btn {
    margin: 5px;
  }

  .nav__links {
    position: fixed;
    top: 68px;
    left: 150%;
    width: 100%;
    opacity: 0;
    background: #fff;
    transform: translateX(-50%);
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 5px 5px rgba(30, 33, 36, 0.3);
    transition: 500ms ease-in-out;
  }

  .nav__links.open {
    left: 50%;
    opacity: 1;
  }

  .burger-menu {
    display: flex;
  }
}

.nav__btn::before {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 2px;
  bottom: -2px;
  background-color: var(--dark-navy);
  transition: 200ms;
}

.nav__btn:hover.nav__btn::before {
  width: 100%;
}