.reservation-container {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  align-items: center;
  justify-content: space-between;
  column-gap: min(5vw, 40px);
  row-gap: 5px;

  padding: 20px 0;
  border-radius: 5px;

  color: var(--dark-navy);
  border-top: 1px solid var(--light-grey);
}

.reservation-container:nth-child(1) {
  border: none;
}

.reservation-container .reservation-container__btn {
  height: max-content;
  padding: 7px 13px;
  margin: 0;

  color: var(--blue);
  border: 1px solid var(--blue);
  transition: 100ms ease-in-out;
}

.reservation-container__btn:hover {
  background-color: var(--blue);
  color: #fff;
}

@media (max-width: 880px) {
  .reservation-container {
    grid-template-columns: auto;
    justify-content: left; 
    column-gap: 25px;
    row-gap: 10px;
    grid-template-areas: 
      "title1 item1"
      "title2 item2"
      "title3 item3"
      "title4 item4"
      "btn1 btn2";
  }

  .title1 {
    grid-area: title1;
  }
  .title2 {
    grid-area: title2;
  }
  .title3 {
    grid-area: title3;
  }
  .title4 {
    grid-area: title4;
  }

  .item1 {
    grid-area: item1;
  }
  .item2 {
    grid-area: item2;
  }
  .item3 {
    grid-area: item3;
  }
  .item4 {
    grid-area: item4;
  }
  .btn1 {
    grid-area: btn1;
  }
  .btn2 {
    grid-area: btn2;
  }
}


