.reservation-container {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  align-items: center;
  justify-content: space-between;
  column-gap: min(5vw, 40px);
  row-gap: 5px;

  padding: 20px 0;
  border-radius: 5px;

  color: var(--dark-navy);
  border-top: 1px solid var(--light-grey);
}

.reservation-container:nth-child(1) {
  border: none;
}

.reservation-container .reservation-container__btn {
  height: max-content;
  padding: 7px 13px;
  margin: 0;

  color: var(--blue);
  border: 1px solid var(--blue);
  transition: 100ms ease-in-out;
}

.reservation-container__btn:hover {
  background-color: var(--blue);
  color: #fff;
}

@media (max-width: 880px) {
  .reservation-container {
    grid-template-columns: auto;
    justify-content: left; 
    column-gap: 5px;
    grid-template-areas: 
      "item1 item1"
      "item2 item2"
      "item3 item3"
      "item4 item4"
      "btn1 btn2";
  }

  .item1 {
    grid-area: item1;
  }
  .item2 {
    grid-area: item2;
  }
  .item3 {
    grid-area: item3;
  }
  .item4 {
    grid-area: item4;
  }
  .btn1 {
    grid-area: btn1;
  }
  .btn2 {
    grid-area: btn2;
  }

  .reservation-container > span {
    margin-left: clamp(120px, 10vw, 188px);
    margin-bottom: 10px;
  }

  .reservation-container > span::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 20px;
    width: 100%;
  }

  .table-title {
    display: none;
  }
}


