.reservation-container {
  display: grid;
  grid-template-columns: max-content 1fr repeat(4, max-content);
  align-items: center;
  column-gap: min(5vw, 40px);
  row-gap: 5px;

  padding: 20px;
  border-radius: 5px;

  color: var(--dark-navy);
  border-top: 1px solid var(--light-grey);
}

.reservation-container:nth-child(1) {
  border: none;
}

.reservation-container .reservation-container__btn {
  height: max-content;
  padding: 7px 13px;
  margin: 0;

  color: var(--blue);
  border: 1px solid var(--blue);
  transition: 100ms ease-in-out;
}

.reservation-container__btn:hover {
  background-color: var(--blue);
  color: #fff;
}


